@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TransactionStore</h1>
</div>
<div class="d-flex justify-content-center m-4">
    <div style="width:600px;">
        <p> This project showcases my skill in using ASP.NET Core MVC along with some of Design patterns that can be used in scenario of uploading files in various formats.</p>
        <p> For Upload transaction file go to Upload menu.</p>
        <p> For API please see Postman collection in git repo.</p>
    </div>
</div>

