@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TransactionStore</h1>
    <p>This project showcases my skill in using ASP.NET Core MVC along with some of Design patterns that can be used in scenario of uploading files in various format.</p>
</div>
